.App {
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: column;
}

.outerBox {
    height: 100%;
    display: flex;
}

.innerBox {
    border: 1px solid black;
    background-color: aquamarine;
    width: 100%;
    height: 100%;
}

.innerBox:hover {
    cursor: pointer;
}

.selectedTile {
    background-color: rebeccapurple;
}

.correctTileClicked {
    background-color: green;
}

.incorrectTileClicked {
    background-color: red;
}